@charset "UTF-8";
.fl{float: left;}
.fr{float: right;}
.pos-a{position:absolute;}
.pos-r{position:relative;}
.pos-f{position:fixed;}
.clearfix:after{
    content:"\200B";
    clear:both;
    display:block;
    height: 0;
}





















